grammar mql;

start: {{start_document_no_type}} ({{start_document}} stage {{end_document}})* {{end_document}} EOF;

stage:
    stage_limit
|   stage_match
|   stage_skip
;

stage_limit:
    {{named_field "$limit" "decimal128" "double" "int32" "int64"}}
;

stage_match: {{start_document "$match"}} match_expr* {{end_document}};

stage_skip:
    {{named_field "$skip" "decimal128" "double" "int32" "int64"}}
;

match_expr:
    match_expr_eq_no_op
|   match_expr_multi_op
;

match_expr_eq_no_op: {{field}};

match_expr_multi_op:
    {{start_document}} (
        {{named_field "$eq"}}
    |   {{named_field "$gt"}}
    |   {{named_field "$gte"}}
    |   {{named_field "$lt"}}
    |   {{named_field "$lte"}}
    |   {{named_field "$ne"}}
    |   {{named_field "$not"}}
    )*
    {{end_document}}
;

{{definitions}}